<div class="cointainer-fluid d-flex  p-3 flex-column text-center">
  <div class="fixed-bottom">
    <particles [style]="myStyle" [params]="myParams"></particles>
  </div>
  <h1 id="title" class="mb-3"> Welcome To Crypto Poker</h1>
  <div class="flex-column text-center p-3 m-3">
    <button class="btn btn-light">
      Play Now
    </button>
  </div>
  <div class="flex-column text-center p-3 m-3">
    <button class="btn btn-light">
      Deposit
    </button>
  </div>
  <div class=" btn flex-column text-center p-3 m-3">
    <button class="btn btn-light">
      Withdraw
    </button>
  </div>
</div>
